# Files
yarn.lock
composer.lock
package-lock.json
.env
sitemap.xml
.phpunit.result.cache
db.sql
docker-compose.yml
/docker/nginx.conf
Dockerfile
Dockerfile.react
.dockerignore

# Folders
/node_modules
/vendor
/dist
/logs
/upload
/src/Modules
/Project
/Project_*/
/Backoffice
/Sites/*
/Docker/postgresql/*
/Docker/mysql/*